<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>Nowe zgłoszenie reklamacyjne – DKS</title>

  <style type="text/css">
    body { margin: 0; padding: 0; background-color: #e1e1e1; }
    table { border-collapse: collapse; }
    img { display: block; }
  </style>
</head>

<body>

<!-- HEADER -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#e1e1e1">
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#20292f">
        <tr>
          <td height="100" align="left" style="padding-left:30px;">
            <img
              src="https://dks.pl/storage/newsletter/dks-newslleter.png"
              width="86"
              height="49"
              alt="DKS"
            />
          </td>
          <td height="100" align="right" style="padding-right:30px;">
            <span style="font-family:Tahoma, Helvetica; font-weight:bold; font-size:16px; color:#f1f1f1;">
              NOWA REKLAMACJA
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- CONTENT -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f1f1f1">
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
        <tr>
          <td style="padding:30px; font-family:Tahoma, Helvetica; font-size:14px; color:#3C3C3D;">

            <span style="font-size:18px; font-weight:bold; text-transform:uppercase; color:#53545e;">
              Szczegóły zgłoszenia reklamacyjnego
            </span>

            <hr style="margin:20px 0; border:0; border-top:1px solid #eaeaea;" />

            <!-- DANE KLIENTA -->
            <strong>Dane zgłaszającego</strong><br /><br />

            <table width="100%">
              <tr>
                <td width="50%" style="padding:10px 0;">
                  <strong>Imię i nazwisko:</strong><br />
                  {{ data.full_name }}
                </td>
                <td width="50%" style="padding:10px 0;">
                  <strong>Firma:</strong><br />
                  {{ data.company_name }}
                </td>
              </tr>
              <tr>
                <td style="padding:10px 0;">
                  <strong>E-mail:</strong><br />
                  {{ data.email }}
                </td>
                <td style="padding:10px 0;">
                  <strong>Telefon:</strong><br />
                  {{ data.phone }}
                </td>
              </tr>
            </table>

            <hr style="margin:30px 0; border:0; border-top:1px solid #eaeaea;" />

            <!-- SZCZEGÓŁY REKLAMACJI -->
            <strong>Informacje o reklamacji</strong><br /><br />

            <table width="100%">
              <tr>
                <td width="50%" style="padding:10px 0;">
                  <strong>Producent:</strong><br />
                  {{ data.Producent }}
                </td>
                <td width="50%" style="padding:10px 0;">
                  <strong>Nazwa/Model reklamowanego urządzenia:</strong><br />
                  {{ data.device_model }}
                </td>
              </tr>

              <tr>
                <td style="padding:10px 0;">
                  <strong>Numer seryjny:</strong><br />
                  {{ data.serial_number }}
                </td>
                <td style="padding:10px 0;">
                  <strong>Wersja firmware:</strong><br />
                  {{ data.firmware_version }}
                </td>
              </tr>
              <tr>
              <td style="padding:10px 0;">
                  <strong>Numer faktury:</strong><br />
                  {{ data.purchase_invoice_number }}
                </td>

              </tr>
            </table>
            
            <hr style="margin:30px 0; border:0; border-top:1px solid #eaeaea;" />

            <table width="100%">
              <tr>
                <td style="padding:10px 0;">
                  <strong>Temat zgłoszenia:</strong><br />
                  {{ data.title }}
                </td>              
              </tr>
              
              <tr>
                <td colspan="2" style="padding:15px 0;">
                  <strong>Opis problemu:</strong><br />
                  {{ data.description }}
                </td>
              </tr>

              <tr style="padding:10px 0;">
                <td width="50%" style="padding:10px 0;">
                  <strong>Data instalacji:</strong><br />
                  {{ data.installation_date }}
                </td>
                <td width="50%" style="padding:10px 0;">
                  <strong>Data wystąpienia problemu:</strong><br />
                  {{ data.issue_date }}
                </td>
              </tr>

              <tr width="100%" style="padding:10px 0;">
                <td style="padding:10px 0;">
                  <strong>Licznik:</strong><br />
                  {{ data.counter }}
                </td>
              </tr>

            </table>

            <hr style="margin:30px 0; border:0; border-top:1px solid #eaeaea;" />

            <!-- ADRES ZWROTNY -->
            <strong>Adres wysyłki po naprawie</strong><br /><br />

            <table width="100%">
              <tr>
                <td width="50%" style="padding:10px 0;">
                  <strong>Firma:</strong><br />
                  {{ data.return_company }}
                </td>
                <td width="50%" style="padding:10px 0;">
                  <strong>Osoba kontaktowa:</strong><br />
                  {{ data.return_full_name }}
                </td>
              </tr>
              <tr>
                <td style="padding:10px 0;">
                  <strong>Telefon:</strong><br />
                  {{ data.return_phone }}
                </td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2" style="padding:10px 0;">
                  <strong>Adres:</strong><br />
                  {{ data.return_address }}
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <!-- FOOTER -->
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
        <tr>
          <td style="padding:30px; font-size:10px; font-family:Tahoma, Helvetica;">
            <p style="font-size:8px;">
              <b>UWAGA:</b> Ta wiadomość została wygenerowana automatycznie. Prosimy na nią nie odpowiadać.
            </p>
            <p>
              <a href="https://www.dks.pl/dks/privacy-policy.html" style="color:black; font-size:8px;">
                Polityka prywatności DKS Sp. z o.o.
              </a>
            </p>
            <p style="font-size:6px;">
              DKS Sp. z o.o., ul. Energetyczna 15, 80-180 Kowale<br />
              KRS 0000099557 · NIP 583-27-90-417
            </p>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

</body>
</html>

